GradleWatsonTest/MyPersonalWatsonQA/app/build/
GradleWatsonTest/MyPersonalWatsonQA/.idea/
GradleWatsonTest/MyPersonalWatsonQA/local.properties
GradleWatsonTest/MyPersonalWatsonQA/import-summary.txt
GradleWatsonTest/MyPersonalWatsonQA/gradlew.bat
*.iml
GradleWatsonTest/MyPersonalWatsonQA/.gradle/
GradleWatsonTest/MyPersonalWatsonQA/build/intermediates/
