<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.seedforandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="edu.umich.seedforandroid.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="edu.umich.seedforandroid.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/seed_system_icon_small"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="edu.umich.seedforandroid" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".doctor.MainActivity_Doctor"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".patient.MainActivity_Patient"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".main.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.SampleAuthActivity"
            android:label="@string/title_activity_sample_auth" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".patient.EnterNewHealthData"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_enter_new_health_data" >
        </activity>
    </application>

</manifest>